<section id="{{module.module_identity}}"
class="key-numbers {% if module.content_style.padding_choice == 'classic' %}{% if module.content_style.section_type != 'none' %} section-{{ module.content_style.section_type }}{% endif %}{% if module.content_style.padding_top == false %} pt-0{% endif %}{% if module.content_style.padding_bottom == false %} pb-0{% endif %}{% endif %}"
{% if module.content_style.padding_choice == 'custom' %} style="padding-top: {{ module.content_style.custom_padding_top }}px; padding-bottom: {{ module.content_style.custom_padding_bottom }}px;"{% endif %}>
    <div class="container">
        <div class="content-left">
            <h3 class="h3">
                {{module.title}}
            </h3>
            <div class="p-m">
                {{module.paragraph}}
            </div>
        </div>
        <div class="numbers">
            {% for item in module.content_group %}
            <div class="item">
                <div class="item_icon_number">
                    <div class="icon">
                        <img loading="lazy"
                            src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" width="{{ item.icon.width }}" height="{{ item.icon.height }}"/>
                    </div>
                    <div class="number">
                        {{item.number}}
                    </div>
                </div>
                <div class="p-m">
                    {{item.description}}
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="427" height="311" viewBox="0 0 427 311" fill="none">
                    <g opacity="0.2" filter="url(#filter0_f_569_1333)">
                      <path d="M151.288 84L84 150.574L202.667 227L343 160.287L151.288 84Z" fill="url(#paint0_linear_569_1333)"/>
                    </g>
                    <defs>
                      <filter id="filter0_f_569_1333" x="0" y="0" width="427" height="311" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="42" result="effect1_foregroundBlur_569_1333"/>
                      </filter>
                      <linearGradient id="paint0_linear_569_1333" x1="249.781" y1="95.4911" x2="130.705" y2="271.557" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00FCDE"/>
                        <stop offset="1" stop-color="#3A59FA" stop-opacity="0.96"/>
                      </linearGradient>
                    </defs>
                </svg>
            </div>
            {% endfor %}
        </div>
    </div>
</section>