// Here you can setup your form options
h3.form-title {
  display: none;
}

form.hs-form {
  padding: 0px;
  fieldset {
      width: 100%;
      max-width: 100%;
      div.hs-form-field {
          margin-bottom: 25px;
          label {
              font-size: 16px;
              margin: 0;
              span + span {
                  color: rgba($color3, 1);
                  margin-left: 2px;
              }
          }
          legend {
              color: grey;
              display: block !important;
              font-size: 80%;
              margin: 0 0 6px 0;
          }
          div.input {
              input:not([type='checkbox']):not([type='radio']):not([type='file']),
              select,
              textarea {
                  width: 100% !important;
                  color: rgba($color1, 1);
                  background: #ffffff;
                  border: 1px solid rgba($color1, 0.73);
                  border-radius: 0;
                  padding: 10px 15px;
                  outline: none;
                  -webkit-transition: 0.3s border, 0.3s box-shadow;
                  -moz-transition: 0.3s border, 0.3s box-shadow;
                  transition: 0.3s border, 0.3s box-shadow;
                  margin: 0px;
                  box-sizing: border-box;
              }
              textarea {
                  height: 180px;
              }
              select {
                  -webkit-appearance: none;
                  appearance: none;
                  background-image: url("data:image/svg+xml,%3Csvg width='8px' height='14px' viewBox='0 0 8 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg fill='%23000000'%3E %3Cpolygon transform='translate(4.000000, 11.500000) scale(1, -1) translate(-4.000000, -11.500000) ' points='4 9 8 14 0 14'%3E%3C/polygon%3E %3Cpolygon points='4 0 8 5 0 5'%3E%3C/polygon%3E %3C/g%3E %3C/svg%3E");
                  background-repeat: no-repeat;
                  background-position: right 15px top 50%;
                  background-size: 8px auto;
                  padding-right: 38px;
                  height: 40px;
                  &::-ms-expand {
                  display: none;
                  }
                  option {
                  font-weight: normal;
                  }
              }
              input[type='file'] {
                  width: 100% !important;
                  background: #ffffff;
                  border: 1px dashed rgba($color1, 1);
                  border-radius: 0;
                  padding: 10px;
                  cursor: pointer;
                  outline: none;
              }
              ul.inputs-list {
                  display: flex;
                  margin: 0px;
                  padding: 0px;
                  li {
                  list-style-type: none;
                  margin-right: 20px;
                  margin-bottom: 0px;
                  &:last-child {
                      margin-right: 0px;
                  }
                  input[type='checkbox'],
                  input[type='radio'] {
                      position: absolute;
                      opacity: 0;
                  }
                  input[type='checkbox'] {
                      &:checked + span:before {
                          background: rgba($color1, 1);
                          border-color: rgba($color1, 1);
                      }
                      &:checked + span:after {
                          display: block;
                          left: 6px;
                          top: 6px;
                          width: 5px;
                          height: 9px;
                          border: solid #fff;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          position: absolute;
                          content:'';
                      }
                  }
                  span {
                      font-size: 16px;
                      position: relative;
                      cursor: pointer;
                      padding: 0;
                      &::before {
                          content: '';
                          margin-right: 6px;
                          margin-top: 3px;
                          display: inline-block;
                          vertical-align: text-top;
                          width: 17px;
                          height: 17px;
                          background: #ffffff;
                          border: 1px solid rgba($color1, 1);
                      }
                  }
                  input[type='radio'] {
                      position: absolute;
                      opacity: 0;
                          &:checked {
                              & + span {
                                  &:after {
                                      opacity: 1;
                                      transform: scale(1);
                                      transition: 0.5s;
                                      -webkit-transition: 0.5s;
                                  }
                              }
                          }
                          & + span {
                              font-size: 16px;
                              position: relative;
                              cursor: pointer;
                              padding: 0;
                              &:before {
                                  content: '';
                                  margin-right: 6px;
                                  margin-top: 3px;
                                  display: inline-block;
                                  vertical-align: text-top;
                                  width: 17px;
                                  height: 17px;
                                  background: #ffffff;
                                  border: 1px solid rgba($color1, 1);
                                  border-radius: 100%;
                              }
                              &:after {
                                  content: '';
                                  width: 11px;
                                  height: 11px;
                                  background-color: $color1;
                                  display: block;
                                  opacity: 0;
                                  transform: scale(0.8);
                                  transition: 0s;
                                  -webkit-transition: 0s;
                                  border-radius: 50%;
                                  top: 6px;
                                  left: 3px;
                                  position: absolute;
                              }
                          }
                      }
                  }
              }
          }
      }
      &.form-columns-2 {
          display: flex;
          justify-content: space-between;
          @media (max-width: 700px) {
              flex-direction: column;
          }
          div.field {
              width: calc(100% / 2 - 20px);
              @media (max-width: 700px) {
                  width: 100%;
              }
          }
      }
      &.form-columns-3 {
          display: flex;
          justify-content: space-between;
          @media (max-width: 700px) {
          flex-direction: column;
          }
          div.field {
              width: calc(100% / 3 - 20px);
              @media (max-width: 700px) {
                  width: 100%;
              }
          }
      }
      ul.hs-error-msgs {
          color: rgba($color3, 1);
          margin: 5px 0px 0px 0px;
          list-style-type: none;
          padding: 0px;
          li {
              label {
                  &.hs-main-font-element {
                  background-color: rgba($color3, 1);
                  padding: 20px 40px;
                  text-align: center;
                  color: #fff;
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  }
              }
          }
      }
      div.hs_rgpd{
        ul{
            margin:0px;
            padding:0px;
            li{
                list-style: none;
                label {
                    input[type='checkbox'],
                    input[type='radio'] {
                    position: absolute;
                    opacity: 0;
                    }
                    input[type='checkbox'] {
                        &:checked + span:before {
                            background: rgba($color1, 1);
                            border-color: rgba($color1, 1);
                        }
                        &:checked + span:after {
                            content:'';
                            position: absolute;
                            display: block;
                            left: 6px;
                            top: 6px;
                            width: 5px;
                            height: 9px;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                      }
                      + span{
                          position: relative;
                      }
                      + span:before{
                        content: '';
                        margin-right: 6px;
                        margin-top: 3px;
                        display: inline-block;
                        vertical-align: text-top;
                        width: 17px;
                        height: 17px;
                        background: #ffffff;
                        border: 1px solid rgba($color1, 1);
                      }
                    }
                }
            }
        }
    }
  }
  div.hs_error_rollup {
    background-color: rgba($color3, 1);
    color: #fff;
    text-align: center;
    padding: 30px;
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
              label {
                  margin: 0px;
              }
          }
      }
  }
  
  div.hs_input_file {
      input[type='file'] {
          width: 100% !important;
          background: #ffffff;
          border: 1px dashed rgba($color1, 1);
          border-radius: 0;
          padding: 10px;
          cursor: pointer;
          outline: none;
      }
  }
  div.hs_submit {
      margin-top: 30px;
      input[type='submit'] {
          appearance: none;
          -moz-appearance: none;
          border: none;
          background-color: $text-color1;
          color: #fff;
          height: 50px;
          padding: 0px 30px;
          border: 1px solid $color1;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          cursor: pointer;
          &:hover {
          background-color: #fff;
          color: $text-color1;
          }
      }
  }
}
