.section-about-partner {
  overflow: hidden;
  position: relative;
  & > svg {
    pointer-events: none;
    left: calc(50% + 0px);
    top: 0;
    transform: translateX(-50%);
  }
  p.label {
    color: #b3b0c7;
  }

  .partner-inner {
    width: 200px;
    height: 90px;
    background: #ffffff;
    border-radius: 3.25031px;
    margin-right: 22px;
    .wrap {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 140px;
        height: auto;
        max-height: 60px;
        width: auto;
      }
    }
  }
}
