.section-valeurs {
  overflow: hidden;
  position: relative;
  &.background-navy {
    .values-tabs {
      .data-tab {
        .text-wrapper * {
          color: white;
        }
      }
    }
  }
  &.custom-padding {
    padding-top: var(--custom-padding-top);
  }
  & > svg {
    pointer-events: none;
    left: calc(50% + 1821px);
    top: -1484px;
    transform: translateX(-50%);
  }
  .label {
    color: rgba(255, 255, 255, 0.4);
  }

  .title {
    color: white;
  }
  .values-tab {
    font-size: 30px;
    line-height: 39px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    .index {
      position: absolute;
      top: -59px;
      right: 0px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0px;
      top: -40px;
      width: 85%;
      border-top: 2px solid rgba(255, 255, 255, 0.3);
    }

    &.active {
      &:after {
        border-color: white;
        transition: all 0.3s;
      }
      span {
        color: white;
        transition: all 0.3s;
      }
      color: white;
      transition: all 0.3s;
    }

    &:hover {
      &:after {
        border-color: white;
        transition: all 0.3s;
      }

      span {
        color: white;
        transition: all 0.3s;
      }

      color: white;
    }
  }
  .text-wrapper {
    * {
      color: white;
    }
  }

  .data-tab {
    margin-top: -40px;
  }

  &.theme-vif {
    .values-tab {
      color: #7f818c;
      transition: all 0.3s;
      .index {
        color: #7f818c;
        transition: all 0.3s;
      }

      &:after {
        border-top: 2px solid #7f818c;
        transition: all 0.3s;
      }

      &.active {
        &:after {
          border-color: #2954ff;
          transition: all 0.3s;
        }

        span {
          color: #2954ff;
          transition: all 0.3s;
        }

        color: #2954ff;
        transition: all 0.3s;
      }

      &:hover {
        &:after {
          border-color: $baseFontColor;
          transition: all 0.3s;
        }

        span {
          color: $baseFontColor;
          transition: all 0.3s;
        }

        color: $baseFontColor;
        transition: all 0.3s;
      }
    }

    .text {
      .label {
        * {
          color: #b3b0c7;
        }
      }

      * {
        color: #000519;
      }
    }
  }

  .text-wrapper {
    * {
      color: #000519;
    }
  }
}
