.share-article {
    background-color: $white;
    box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
    border: 1px solid $border-blue-interaction;
    .title {
        margin-bottom: 20px;
        * {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
        }
    }
    a {
        +a {
            margin-left: 20px;
        }
    }
}