.blog-listing-module {
  .single-post {
    transition: all 0.3s ease;
    cursor: pointer;
    h3 a {
      color: inherit;
    }
    .feat-img {
      height: 200px;
    }
    &:hover {
      transform: translate3d(0, -5px, 0);
    }
  }
}
