.cards-listing {
  .container > svg {
    position: absolute;
    top: 0;
    left: calc(50% - 505px);
    transform: translateX(-50%);
  }
  .label {
    color: #b3b0c7;
  }

  .wrapper-card {
    height: 100%;
    .card {
      height: 100%;
      border: 1px solid #c4cefa;
      box-sizing: border-box;
      box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
      border-radius: 5px;
      background-color: $white;
      img {
        max-width: 35px;
        width: 100%;
        height: auto;
      }

      .title {
        p {
          font-weight: bold;
        }
      }
      .paragraph {
        p {
          color: $bluedarker;
        }
      }

      &.mt-md-12 {
        @media screen and (min-width: 767px) {
          margin-top: 180px !important;
        }
      }

      &.mt-md-24 {
        @media screen and (min-width: 767px) {
          margin-top: 360px !important;
        }
      }
    }
  }

  &.service-color-orange {
    .wrapper-card {
      .title {
        p {
          color: $poporange;
        }
      }
    }
  }
  &.service-color-green {
    .wrapper-card {
      .title {
        p {
          color: $duckgreen;
        }
      }
    }
  }
  &.service-color-purple {
    .wrapper-card {
      .title {
        p {
          color: $purplerain;
        }
      }
    }
  }
}
