.section-caroussel-images {
    padding-top: 80px;
    padding-bottom: 60px;

    .carousel {
      outline: none;
    }
    @media (min-width: 1px) and (max-width: 768px) {
      padding-top: 60px;
    }
    .item {
        position: relative;
        width: 100%; /* full width */
        height: 580px;
        @media (min-width: 415px) and (max-width: 768px) {
          height: 440px;
        }
        @media (min-width: 1px) and (max-width: 414px) {
          height: 220px;
        }
        /* center images in cells with flexbox */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        &:before {
            position: absolute;
            z-index: 1;
            top: 0;
            content:"";
            background: linear-gradient(39.04deg, rgba(0, 0, 0, 0.53) 4.21%, rgba(0, 0, 0, 0) 53.42%);
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
      }
      
      .carousel.is-fullscreen .item {
        height: 100%;
      }
      
      .item img {
        display: block;
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .flickity-button {
        position: absolute;
        top: 0;
        @media (min-width: 1px) and (max-width: 768px) {
          top: inherit;
          bottom: 0;
        }
        width: 60px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='15' viewBox='0 0 60 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M53.3431 0.298304L59.7071 6.77983C60.0976 7.17757 60.0976 7.82243 59.7071 8.22017L53.3431 14.7017C52.9526 15.0994 52.3195 15.0994 51.9289 14.7017C51.5384 14.304 51.5384 13.6591 51.9289 13.2614L56.5858 8.51847H0V6.48153H56.5858L51.9289 1.73864C51.5384 1.3409 51.5384 0.696043 51.9289 0.298304C52.3195 -0.0994347 52.9526 -0.0994347 53.3431 0.298304Z' fill='%232954FF'/%3E%3C/svg%3E%0A");
        background-color: transparent;
        border: 0;
        padding: 0;
        opacity: .4;
        transition: all .3s;
        &:hover {
            opacity: 1;
        }
        svg {
            display: none;
        }
      }

      .flickity-button.previous {
        left: 0;
        transform: scaleX(-1);
      }

      .flickity-button.next {
        left: 105px;
        @media (min-width: 1px) and (max-width: 768px) {
          left: inherit;
          right: 0;
        }
      }

      .carousel-progress {
        position: relative;
        margin: 0 auto;
        height: 2px;
        border-radius: 5px;
        width: 50px;
        background: rgba(255,255,255, 0.4);
        opacity: 0.4;
      }
      
      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        border-radius: 5px;
        width: 0%;
        background: #E2E2E6;
      }

      .progress-bar-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        bottom: 35px;
        left: 15px;
        @media (min-width: 1px) and (max-width: 768px) {
          bottom: 80px;
        }
      }

      .progress-step {
        font-weight: bold;
        font-size: 16px;
        color: $white;
      }

      .current {
        padding-right: 15px;
      }

      .next-slide {
        padding-left: 15px;
      }
}