.section-case-studies-listing-repeater {
    background-color: $greyblue;
    position: relative;
    overflow: hidden;

    @media (min-width: 1px) and (max-width: 768px) {
        padding: 120px 0;
    }

    .expertise-list {
        list-style: none;
        padding-left: 0;

        @media (min-width: 1px) and (max-width: 414px) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    .expertise-card {
        position: relative;

        img {
            max-height: 60px;
        }

        .expertise-card-content {
            transition: 0.3s;

            @media (min-width: 1px) and (max-width: 768px) {
                transform: translateY(-52px);
            }
        }

        &:hover {
            .arrow-cta {
                transform: translateY(0px);
                opacity: 1;
            }

            .expertise-card-content {
                transform: translateY(-52px);
            }
        }

        padding: 88px 30px 30px;
        border: 1px solid #c4cefa;
        box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
        height: 100%;
        border-radius: 5px;
        background: $white;

        .arrow-cta {
            display: inline-block;
            position: absolute;
            bottom: 50px;
            padding-top: 15px;
            transform: translateY(40px);
            transition: 0.3s;
            opacity: 0;
            margin-bottom: -16px;

            @media (min-width: 1px) and (max-width: 768px) {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .expertise-card-description {
            font-size: 20px;
            line-height: 150.02%;
            color: $black;
        }

        .expertise-card-title {
            padding-top: 25px;
            font-size: 25px;
            line-height: 30px;
            font-weight: 700;
            font-family: "DM Sans", sans-serif;
            padding-bottom: 15px;
            color: $black;
        }
    }

    .svg-shape {
        position: absolute;
        right: -230px;
        top: 420px;

        @media (min-width: 1px) and (max-width: 414px) {
            display: none;
        }
    }
}