.case-studies-section-service {
  position: relative;
  overflow: hidden;
  > svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: calc(50% - 860px);
    transform: translateX(-50%);
  }
  .shape-bg {
    position: absolute;
    width: 2000px;
    left: 50%;
    transform: translateX(-50%);

    &.top {
      top: 0px;
    }

    &.bottom {
      bottom: 0px;
    }
  }

  .label {
    color: #b3b0c7;
  }

  .illu-wrapper {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.1);
    border-radius: 5px;
    color: white;
    img {
      border-radius: 5px;
    }
  }

  .text {
    p {
      font-size: 16px;
      color: #7f818c;
      line-height: 1.5;
    }
  }

  hr {
    border-top: 1px solid $borderColor;
  }

  .who {
    color: $bluedarker;
    padding-top: 5px;
    .wrapper-img {
      position: relative;
      width: 65px;
      height: 65px;
      border-radius: 5px;
      overflow: hidden;
      min-height: 65px;
      min-width: 65px;
      box-shadow: 0px 10px 40px 0px #00000033;

      @media screen and (max-width: 767px) {
        min-height: 82px;
        min-width: 82px;
        width: 82px;
        height: 82px;
      }
    }

    .right {
      width: 100%;

      .jobtitle {
        font-size: 16px;
      }

      .customer-logo {
        max-width: 128px;
      }
    }
  }
}
