.section-cs-tabs {
  > svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc(-50% + 300px));
    z-index: 0;
  }
  .w-top {
    background: #ebecf9;
    border: 1px solid #c4cefa;
  }

  .w-bottom {
    background: white;
  }

  p.label {
    color: #b3b0c7;
  }

  .tab {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #c4cefa;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    
    height: 100%;
    box-shadow: inset 0px -10px 10px #e8e9f7;
    position: relative;
    .tag {
      font-weight: bold;
    }
    .asset {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
      color: $navyblue;
      padding: 4px 4px 4px 8px;
      border-radius: 3px;
      background: linear-gradient(252.32deg, rgba(235, 236, 249, 0) 20.79%, #ebecf9 76.85%);
    }

    &.active {
      background: white;
      box-shadow: none;
      .asset {
        background: linear-gradient(252.32deg, rgba(235, 236, 249, 0) 20.79%, #ebecf9 76.85%);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0px;
        width: 100%;
        height: 20px;
        background: white;
      }
    }
  }

  .bloc {
    .label {
      color: #b3b0c7;
    }

    .illu-wrapper {
      position: relative;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.1);
      border-radius: 5px;
      color: white;

      img {
        border-radius: 5px;
      }
    }

    .text {
      p {
        font-size: 16px;
        color: #7f818c;
        line-height: 1.5;
      }
    }

    hr {
      border-top: 1px solid $borderColor;
    }

    .who {
      color: $bluedarker;

      .wrapper-img {
        position: relative;
        width: 65px;
        height: 65px;
        border-radius: 5px;
        overflow: hidden;
        min-height: 65px;
        min-width: 65px;
        box-shadow: 0px 10px 40px 0px #00000033;

        @media screen and (max-width: 767px) {
          min-height: 82px;
          min-width: 82px;
          width: 82px;
          height: 82px;
        }
      }

      .right {
        width: 100%;

        .jobtitle {
          font-size: 16px;
        }

        .customer-logo {
          max-width: 128px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-cs-tabs {
    .bloc {
      transform: translateY(-90px);
      margin-bottom: -90px;
      h4 {
        font-size: 30px;
        line-height: 39px;
      }
    }
  }
}
