.section-creations {
  overflow: hidden;
  > svg {
    position: absolute;
    top: 0;
    left: calc(50% - 860px);
    transform: translateX(-50%);
    pointer-events: none;
  }
  .main-carousel {
    outline: 0;
    .flickity-viewport {
      transition: height 0.2s;
      cursor: auto;
      .flickity-slider {
        height: 100%;
        .carousel-cell {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          //margin: 0px 15px;
          padding: 40px 15px;
          bottom: 0;
          height: 320px;
          overflow: hidden;
          &.lg {
            width: 350px;
          }
          &.sm {
            width: 160px;
          }

          .shadow-wrapper {
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
            &.offset {
              &-one {
                margin-top: 30px;
              }
              &-two {
                margin-top: 60px;
              }
              &-three {
                margin-top: 90px;
              }
            }
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
