.footer {
  background-color: $bluedarker;
  .main-footer {
    p {
      color: rgba($color: $white, $alpha: 0.5);
    }
    .social-wrapper a {
      width: 30px;
      height: 30px;
      transition: ease-in-out all .3s;
      background-color: rgba($color: $white, $alpha: 0.15);
      &:hover {
        background-color: white;
        img {
          -webkit-filter: invert(100%); /* Safari/Chrome */
          filter: invert(100%);
        }
      }
      img {
        transition: ease-in-out all .3s;
        max-width: 15px;
        max-height: 17px;
      }
      + a {
        margin-left: 20px;
      }
    }
    .col-md-2 {
      p {
        color: $white;
        font-weight: 700;
      }
      ul {
        li {
          & + li {
            margin-top: 15px;
          }
          a {
            color: rgba($white, 0.5);
            transition: all 0.25s;
            &:hover {
              color: rgba($white, 1);
            }
          }
        }
      }
    }
  }
  .sub-footer {
    .copy-wrapper {
      border-top: 1px solid rgba($color: $white, $alpha: 0.25);
      a,
      p {
        color: $white;
      }
      a {
        transition: all 0.25s;
        &:hover {
          color: rgba($white, 0.5);
        }
      }
    }
    .text-wrapper * {
      color: rgba($color: $white, $alpha: 0.5);
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .partner {
      justify-content: center;
      img {
        max-width: 170px;
      }
    }
    .social-wrapper a + a {
      margin-left: 15px;
    }
    .sub-footer {
      .copy-wrapper {
        flex-direction: column;
        justify-content: space-between;
        a,
        p {
          margin: 10px !important;
        }
      }
    }
  }
}
