.section-funnel {
  background-color: $bluedarker;
  overflow: hidden;
  > svg {
    position: absolute;
    top: 0;
    left: calc(50% + 480px);
    transform: translateX(-50%);
    pointer-events: none;
  }
  .container {
    .head {
      color: white;
      h2 {
        color: white;
      }
      p.label {
        color: $greyHP;
      }
    }
  }

  .illustration {
    img {
      display: block;
    }
  }

  .sticky-section {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 105px;
  }

  .main {
    position: relative;

    .line-grey {
      position: absolute;
      top: 0px;
      height: 99%;
      left: 70px;
      width: 2px;
      background: rgba(255, 255, 255, 0.4);
    }

    .line-green {
      position: absolute;
      top: 0px;
      height: 0%;
      left: 70px;
      width: 2px;
      transition: all 0.3s;
    }
  }

  .row {
    cursor: pointer;
    & + .row {
      margin-top: 60px;
    }

    &.active {
      .index {
        transition: all 0.3s;
        opacity: 1;
        font-weight: bold;
      }

      .text {
        p {
          transition: all 0.5s ease-in-out;
          display: block;
          color: white;
          opacity: 1;
          
          max-height: 500px;
        }
      }

      .illustration {
        img {
          transition: all 0.5s ease-in-out;
          max-height: 500px;
          opacity: 1;
        }
      }
    }
  }

  .index {
    opacity: 0;
  }

  .text {
    h5 {
      color: rgba(255, 255, 255, 0.3);
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      h5 {
        color: white;
      }
    }
    p {
      opacity: 0;
      height: auto;
      max-height: 0px;
      transition: all 0.5s ease-in-out;
    }
  }

  .illustration {
    img {
      opacity: 0;
      height: auto;
      max-height: 0px;
      transition: all 0.5s;
    }
  }

  &.service-color-orange {
    .line-green {
      background: $poporange;
    }
    .row {
      &.active {
        .index {
          color: $poporange;
        }

        .text {
          h5 {
            color: $poporange;
          }
        }
      }
    }
  }

  &.service-color-green {
    .line-green {
      background: $duckgreen;
    }
    .row {
      &.active {
        .index {
          color: $duckgreen;
        }

        .text {
          h5 {
            color: $duckgreen;
          }
        }
      }
    }
  }

  &.service-color-purple {
    .line-green {
      background: $purplerain;
    }
    .row {
      &.active {
        .index {
          color: $purplerain;
        }

        .text {
          h5 {
            color: $purplerain;
          }
        }
      }
    }
  }

  &.service-color-blue {
    .line-green {
      background: $navyblue;
    }
    .row {
      &.active {
        .index {
          color: $navyblue;
        }

        .text {
          h5 {
            color: $navyblue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-funnel {
    .main {
      .line-grey,
      .line-green {
        left: 40px;
      }
    }
    .illustration {
      max-width: 130px;
    }
  }
}
