.glossaire-filters {
    ul.letters-filter {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        margin-left: -15px;
        li {
            padding: 7px 15px;
            border: 1px solid $border-blue-interaction;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            width: 45px;
            height: 45px;
            cursor: pointer;
            &.active,
            &:hover {
                color: white;
                background: $navyblue;
                border-color: transparent;
            }
            &.disabled {
                cursor: inherit;
                color: $border-blue-interaction;
                &:hover {
                    background: transparent;
                    color: $border-blue-interaction;
                }
            }
        }
    }
    .search-form {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 15.8511C12.6869 15.8511 15.625 12.8705 15.625 9.19364C15.625 5.5168 12.6869 2.53613 9.0625 2.53613C5.43813 2.53613 2.5 5.5168 2.5 9.19364C2.5 12.8705 5.43813 15.8511 9.0625 15.8511Z' stroke='%232954FF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.7031 13.9015L17.5 17.7534' stroke='%232954FF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 20px;
            height: 21px;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
        input {
            padding: 15px 30px;
            padding-right: 45px;
            background: white;
            border: 1px solid $border-blue-interaction;
            width: 100%;

            &:focus,
            &:focus-visible {
                border: 1px solid $border-blue-interaction;
            }
        }
    }
}
