.test-box{
    height: 100px;
    width: 100px;
    border: 2px solid $duckgreen;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
}