.hero-section-service {
  padding-top: 101px;
  overflow: hidden;
  &.service-color-green svg {
    linearGradient stop {
      stop-color: $duckgreen;
    }
  }
  &.service-color-orange svg {
    linearGradient stop {
      stop-color: $poporange;
    }
  }
  &.service-color-purple svg {
    linearGradient stop {
      stop-color: $purplerain;
    }
  }
  > svg {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 740px);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  &.service-color-orange {
    .head {
      a:hover {
        color: $poporange;
      }
    }
  }
  &.service-color-green {
    .head {
      a:hover {
        color: $duckgreen;
      }
    }
  }
  &.service-color-purple {
    .head {
      a:hover {
        color: $purplerain;
      }
    }
  }
  svg.shape {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  hr {
    border-top: 1px solid $borderColor;
    margin-bottom: 2.2rem;
    margin-top: 0;
  }

  .head {
    .service-name {
      @media screen and (max-width: 767px) {
        margin-bottom: 8px;
      }

      .tag {
        color: black;
        font-weight: bold;
      }

      img {
        max-width: 32px;

        @media screen and (max-width: 767px) {
          width: 30px;
          margin-bottom: 8px;
        }
      }
    }

    a {
      text-decoration: none;
      color: $testimonialColor;
      font-family: 'DM Sans', sans-serif;
      font-weight: bold;
      font-size: 16px;
      transition: all 0.3s;
    }
  }
  .main {
    .illustration {
      border: 1px dotted $poporange;
    }
    .content {
      .service-color-purple {
        span {
          color: $purplerain;
        }
      }
      .service-color-orange {
        span {
          color: $poporange;
        }
      }
      .service-color-green {
        span {
          color: $duckgreen;
        }
      }

      .p-wrapper * {
        color: $bluedarker;
      }

      .cta-lines {
        display: flex;
        align-items: center;
        a {
          display: block;
          margin: 0px 20px 20px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .hero-section-service {
    svg.shape {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: auto;
      &:not(.orange) {
        max-width: 256px;
      }
      &.orange {
        max-width: 200px;
      }
    }
    .service-img {
      max-width: 256px;
    }
  }
}
