.hero-section {
    background-color: $inactive;
    padding-top: 251px;
    padding-bottom: 180px;
    overflow: hidden;
    position: relative;
    > svg {
        position: absolute;
        bottom: -100px;
        left: calc(50% + 700px);
        transform: translateX(-50%);
        pointer-events: none;
    }
    h1 {
        text-align: center;
        color: white;
    }
    p {
        text-align: center;
        color: white;
    }
    @media screen and (max-width: 767px) {
        padding-top: 130px;
        padding-bottom: 92px;
    }
}
