.section-home-catalogue {
  background-color: $labelColor;
  overflow-x: hidden;
  position: relative;

  > svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% + 300px));
    z-index: 0;
    pointer-events: none;
    stop {
      transition: all 0.3s;
    }
    &#mkt-expertise {
      stop {
        stop-color: $poporange;
      } 
    }
    &#web-expertise {
      stop {
        stop-color: $duckgreen;
      }
    }
    &#sales-expertise {
      stop {
        stop-color: $purplerain;
      }
    }
  }

  .label {
    color: $greyHP;
    margin-bottom: 5px;
  }

  .title {
    * {
      color: white;
    }
  }
  .item {
    &.is-selected,
    &.active {
      a {
        opacity: 1;
      }
      .expertise-card .label {
        opacity: 0.5 !important;
      }
    }
    a {
      opacity: 0.2;
      transition: all 0.25s;
    }
  }
  .tabs {
    .catalogue-etiquette {
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.1);
      border-radius: 5px;
      cursor: pointer;

      img,
      p.tag {
        transition: all 0.3s;
      }
      .tag {
        color: rgba($color: #fff, $alpha: 0.4);
        font-size: 30px;
        font-weight: bold;
      }

      &.active,
      &:hover {
        transition: all 0.3s;
        .tag {
          color: white;
        }

        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(101%)
            contrast(102%);
        }

        &.mkt-expertise {
          background: $poporange;
        }
        &.web-expertise {
          background: $duckgreen;
        }
        &.sales-expertise {
          background: $purplerain;
        }
      }
    }
  }

  .frame {
    //width: 1110px;
    width: 840px;
    outline: 0;
    position: relative;
    .flickity-button {
      position: absolute;
      top: 0;
      width: 60px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='16' viewBox='0 0 60 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M53.3431 0.929124L59.7071 7.29308C60.0976 7.68361 60.0976 8.31677 59.7071 8.7073L53.3431 15.0713C52.9526 15.4618 52.3195 15.4618 51.9289 15.0713C51.5384 14.6807 51.5384 14.0476 51.9289 13.657L56.5858 9.00019H0V7.00019H56.5858L51.9289 2.34334C51.5384 1.95281 51.5384 1.31965 51.9289 0.929124C52.3195 0.538599 52.9526 0.538599 53.3431 0.929124Z' fill='white'/%3E%3C/svg%3E%0A");
      background-color: transparent;
      border: none;
      padding: 0;
      opacity: 0.4;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
      svg {
        display: none;
      }
      &.next {
        left: 105px;
      }
      &.previous {
        left: 0px;
        transform: scaleX(-1);
      }
    }
    .flickity-viewport {
      overflow: hidden;
      position: relative;
      outline: 0;
    }
    &.active {
      .item {
        &:not(.active),
        &:not(.is-selected) {
          .bottom {
            color: rgba($color: $white, $alpha: 0);
          }
          .expertise-card {
            pointer-events: none;
          }
        }
        &.active,
        &.is-selected {
          .bottom {
            color: rgba($color: $white, $alpha: 0.4);
          }
          .expertise-card {
            pointer-events: all;
            &:hover {
              .top {
                .illustration {
                  transform: scale(0.9);
                }
                &::before {
                  opacity: 0;
                  transition: all 0.25s;
                }
              }

              .bottom {
                color: rgba($color: $white, $alpha: 1);
              }
              .label {
                opacity: 1 !important;
              }
            }
          }
        }
        .expertise-card {
          height: 345px;
          width: 255px;
          display: block;
          text-decoration: none;
          animation: 0s;
          pointer-events: auto;
          cursor: pointer;
          .bottom {
            transition: all 0.25s;
          }
          .top {
            position: relative;
            overflow: hidden;
            min-height: 255px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            .illustration {
              opacity: 1;
              transition: all 0.25s;
              will-change: opacity;
              max-width: calc(100% - 100px);
              max-height: 160px;
              z-index: 11;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              bottom: 0px;
              opacity: 1;
              z-index: 0;
              pointer-events: none;
              transition: all 0.3s;
              background: linear-gradient(157.06deg, rgba(0, 0, 0, 0) 50.03%, rgba(0, 0, 0, 0.5) 116.95%), #ffffff;
            }
            .arrow {
              position: absolute;
              bottom: 36px;
              right: 34px;
              opacity: 0;
            }
          }
          .label {
            font-size: 26px;
            font-weight: bold;
            z-index: 1111;
            transition: all 0.3s;
            opacity: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-home-catalogue {
    .tabs .catalogue-etiquette {
      img {
        max-width: 35px;
      }
      .tag {
        font-size: 20px;
        line-height: 26px;
      }
    }
    .frame {
      width: 100%;
      .flickity-slider {
        width: 100%;
        .item {
          width: 100%;
          > a {
            width: 100% !important;
            height: auto !important;
            .top {
              min-height: inherit;
              height: 255px;
            }
          }
        }
      }
    }
  }
}
