.key-numbers {
    padding: 90px 0px;
    background-color: $color5;

    .container {
        display: flex;
        //flex-wrap: wrap;
        gap: 105px;

        @media screen and (max-width: $size3){
            gap: 45px;
            flex-direction: column;
        }

        .content-left {
            max-width: 330px;

            .h3 {
                margin-bottom: 15px;
            }
        }

        .numbers {
            display: flex;
            gap: 30px;
            width: 100%;

            @media screen and (max-width: $size3){
                flex-direction: column;
            }

            .item {
                padding: 30px;
                height: 205px;
                border-radius: 8px;
                border: 1px solid #E8E8E8;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #FFF;
                width: 100%;
                position: relative;
                overflow: hidden;

                @media screen and (max-width: $size3){
                    height: 165px;
                }

                .item_icon_number {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    z-index: 11;

                    .number {
                        font-family: $font2;
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 100%;
                        color: $text-color1;
                    }
                }

                .p-m {
                    z-index: 11;
                }
            }

            :nth-child(1) {
                svg {
                    position: absolute;
                    top: -87px;
                    left: -105px;
                }
            }

            :nth-child(2) {
                svg {
                    position: absolute;
                    left: -45px;
                    top: -45px;
                }
            }

            :nth-child(3) {
                svg {
                    position: absolute;
                    top: -75px;
                    left: 0px;
                }
            }
        }
    }
}