.section-left-right {
    position: relative;
    overflow: hidden;
    & > svg {
        pointer-events: none;
        left: calc(50% - 1654px);
        top: -140px;
        transform: translateX(-50%);
    }
    &.night-mode {
        * {
            color: white;
        }

        p.label {
            * {
                color: $greyHP !important;
            }
        }
    }

    p.label {
        color: $legendColor;
    }

    .label + .title {
        margin-top: 5px;
    }

    .title + .paragraph,
    .label + .paragraph {
        margin-top: 15px;
    }

    .paragraph + .paragraph {
        margin-top: 5px;
    }

    * + .cta-line {
        margin-top: 30px;
    }

    .cta-line {
        display: flex;
        align-items: center;
    }

    .icon_text {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
        }

        .text {
            font-size: 20px;
            color: black;
            font-weight: 400;
        }
    }

    * + .icon_text,
    * + .legend_bottom {
        margin-top: 20px;
    }

    .legend_bottom {
        padding-top: 20px;
        border-top: 2px solid #bebfc4;
        * {
            font-size: 20px;
            font-weight: 400;
            color: #7f818c;
        }
    }

    .media-wrapper {
    }
}
