.section-menu-lp {
  position: relative;
  background: #000519;
  z-index: 111;

  .svg-container {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(calc(-50% + 300px));
    background: transparent;
  }

  .main {
    position: relative;

    .text {
      position: relative;

      .illustration {
        bottom: 0;
        left: 50%;
        transform: translateY(50%) translateX(-50%);
        position: absolute;
        max-width: 300px;
      }
    }

    .paragraph,
    .paragraph {
      margin-top: 15px;
      padding-bottom: 250px;
    }

    .form-inner {
      position: relative;
      box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.1);
      border-radius: 8px;
      background-color: white;
      margin-bottom: -200px;
      padding: 30px;
      form {
        border-radius: 8px;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-menu-lp .main {
    .paragraph {
      padding-bottom: 150px;
    }
    .illustration {
      z-index: 1000;
    }
    .form-inner {
      padding-top: 130px;
    }
  }
}
