.newsletter-center {
  padding: 150px 0;
  background-color: $greyblue;
  .title * {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  form.hs-form input[type="checkbox"] + span:before {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .form-wrapper span > div {
    display: flex;
    justify-content: center;
    form.hs-form {
      padding: 0;
      background-color: transparent;
      position: relative;
      padding-bottom: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      legend,
      .hs_email label {
        display: none !important;
      }
      .hs-form-field input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
      .hs-form-field select,
      .hs-form-field textarea {
        background-color: $white;
        padding: 15px;
      }
      .hs-form-field .input {
        max-width: 100%;
        width: 400px;
        margin-right: 15px !important;
      }
      .hs-submit {
        margin-top: 0;
        .hs-button.primary {
          padding: 16px 30px;
          line-height: 1.2;
        }
      }
      .legal-consent-container {
        position: absolute;
        bottom: 0;
        transform: translateY(calc(100% - 25px));

        left: 0;
        .hs-fieldtype-booleancheckbox,
        .hs-form-booleancheckbox {
          margin: 0 !important;
        }
        .hs-form-booleancheckbox-display p {
          line-height: 1.6;
        }
        .hs-error-msgs {
          position: initial;
        }
      }
      .hs-error-msgs {
        position: absolute;
        bottom: 0;
        transform: translateY(calc(100% - 25px));
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .newsletter-center {
    .form-wrapper span > div form.hs-form {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      .hs_email {
        width: 100%;
        .input {
          margin-right: 0 !important;
          width: 100%;
        }
      }
      .hs-form-field .input {
        width: 100%;
      }
      .hs-submit {
        margin-top: 15px;
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
