.section-pre-footer {
  background: #000519;
  position: relative;
  &.w-pattern {
    min-height: 360px;
  }
  .pattern {
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    transform: translateX(-50%);
    @media screen and (max-width: 767px) {
      left: 0;
      transform: none;
      max-width: 100%;
    }
  }
  .container {
    position: relative;
    .shape-inner {
      position: absolute;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
    }
    .arrow-cta.color-white {
      display: inline-flex;
      margin-bottom: 10px;
    }
  }
  * {
    color: white;
  }
}
