.press-sub-header-section {
    background: #00051a;
    padding-top: 105px;

    .navbar-collapse {
        @media (min-width: 1px) and (max-width: 768px) {
            margin-top: -3px;
            padding: 5px 5px;
            background-color: #2954FF;
            a {
                padding: 0 !important;
                color: $white !important;
                margin: 5px 15px !important;
            }
        }
    }

    .navbar-toggler {
        position: relative;
        background-color: #2954FF;
        display: block;
        margin-right: 32px;
        @media (min-width: 1px) and (max-width: 768px) {
            width: 100%;
            padding-right: 32px;
            margin-right: 0;
            text-align: left !important;
            a {
                padding: 5px 7px !important;

            }
        }
        .navbar-toggler-arrow-icon {
            display: none;
            @media (min-width: 1px) and (max-width: 768px) {
                display: block;
            }
            &:after {
                position: absolute;
                width: 10px;
                height: 7px;
                top: 40%;
                right: 19px;
                content: "";
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.90039 4.94971L8.48618 6.36392L4.95064 2.82839L1.41511 6.36392L0.000895858 4.94971L4.95064 -4.03523e-05L9.90039 4.94971Z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }
        a {
            color: $white !important;
            margin-left: 0 !important;
        }
    }
    .row {
        padding: 30px 0;
        border-top: solid rgba(255, 255, 255, 0.25) 1px;
    }
    .title-wrapper {
        p.title {
            color: white;
            position: relative;
            z-index: 11;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .tags-wrapper {
        .tag {
            text-decoration: none;
            margin: 0 10px;
            padding: 5px 10px;
            color: $subtitle;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            transition: all 0.3s;
            border-radius: 5px;
            &:first-child {
                margin-left: 0;
                @media screen and (max-width: 767px) {
                    margin-left: inherit;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &.active,
            &:hover {
                background-color: $navyblue;
                color: white;
            }
        }
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            margin: 0px;
        }
    }
}