.section-hero-press {
    background-color: #000519;

    @media screen and (min-width: 767px) {
        // padding: 190px 0 110px;
    }

    .row {
        align-items: center;
    }

    overflow: hidden;

    h1 {
        color: $white;
    }

    .svg-shape {
        z-index: 0;
        left: calc(49% + 472px);
        top: 0;
        transform: translateX(-50%);
        pointer-events: none;
        position: absolute;

        @media screen and (min-width: 767px) {
            left: calc(32% + 460px);
        }
    }

    .hubspot-rate {
        width: fit-content;
        border-top: 1px solid hsla(0, 0%, 100%, .25);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .right {
        display: flex;
        align-items: center;
    }

    .nbr {
        padding-top: 3px;
    }
}