.section-promise {
  > svg {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% + 400px);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .media-wrapper {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
  } 
  .etiquette {
    display: inline;
    max-width: 350px;
    background: #ffffff;
    border: 1px solid #c4cefa;
    box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
    border-radius: 5px;
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    color: $bluedarker;
    transition: all 0.3s;
    .tag {
      font-weight: bold;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 30px rgba(41, 15, 112, 0.18);
    }
    img {
      margin-right: 20px;
      max-width: 32px;
    }
  }

  .etiquette + .etiquette {
    margin-top: 20px;
  }

  .legend-wrapper {
    border-top: 1px solid $border-decoration;

    p {
      color: $richTextColor;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .cta-test {
    background-color: crimson;
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  .mixin {
  }
}
