.section-recherche-website{
    .hero{
        padding-top: 160px;
        padding-bottom: 90px;

        background: #000519;

        .title{
        *{
            font-weight: bold;
            font-size: 55px;
            line-height: 62px;
            color: white;
            text-align: center;
        }

        #keyword{
            margin-left: 5px;
        }

        margin-bottom: 35px;

        }

        .search{
            width: 100%;
            position: relative;


            input{
                width: 100%;
                max-width: 100%;
                padding: 15px 30px 15px 30px;
            }

            svg{
                position: absolute;
                right: 30px;
                top: 22px;
            }
        }

    }
    .results{
        .result{

        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid #BFC1C6;

            .link{
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #80828C;
            }
            .title{
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;        
            color: #000519;
            }
            .description{
            font-weight: normal;
            font-size: 16px;
            line-height: 150.02%;
            color: #010519;
            }
        }


    } 

    .pagination{
        display: flex;
        align-items: center;
        justify-content: center;

        .p-click{
            
            padding: 10px 15px;
            background-color: transparent;
            border-radius: 4px;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            margin-right: 15px;

            &:last-child{
                margin-right: 0px;
            }

            &.selected{
                color: white;
                background: #2954FF;
                box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
            }

            &.arrow{
                padding: 15px;
            }
        }
    }
}