.section-results{
    .title + .paragraph{
        margin-top: 15px;
    }

    .result{
        .left{
            font-size: 60px;
            line-height: 67px;
            font-family: 'Philosopher', sans-serif;
            font-weight: bold;
        }

        .right{
            max-width: 380px;
            border-left: 1px solid #C4CEFA;
            padding-left: 30px;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
        }
    }

    .result + .result{
        margin-top: 80px;
    }
}