.rules-list-section{
    .label{
        color: #B3B0C7;
    }

    h2,h5{
        color: $bluedarker;
    }


    .rule-name{

        .arrow{
            width: 65px;
            border-bottom: 2px solid;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                right: 0px;
                bottom: -6px;
                height: 10px;
                width: 10px;
                transform: rotate(45deg);
                border-top: 2px solid;
                border-right: 2px solid;
            }

        }

        h5{
            font-size: 24px;
        }

    }

    &.service-orange{
        .arrow{
            border-color: $poporange;
            &::after{
                border-color: $poporange;
            }
        }

        .rule-name h5{
            color: $poporange;
        }

    }
    &.service-green{
        .arrow{
            border-color: $duckgreen;
            &::after{
                border-color: $duckgreen;
            }
        }

        .rule-name h5{
            color: $duckgreen;
        }
    }
    &.service-purple{
        .arrow{
            border-color: $purplerain;
            &::after{
                border-color: $purplerain;
            }
        }

        .rule-name h5{
            color: $purplerain;
        }
    }
}