.sidebar-details {
    background-color: $white;
    box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
    border: 1px solid $border-blue-interaction;
    border-radius: 5px;
    .title {
        * {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            /* Typography/Blue Darker (HSL 5) */
            color: #000519;
            font-family: "DM Sans", sans-serif;
        }
    }
    .icon {
        height: 20px;
        width: 20px;
        min-height: 20px;
        min-width: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.type {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/onobarding-equipe.svg');
        }
        &.lieu {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/location.svg');
        }
        &.niveau {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/etude.svg');
        }
        &.date {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/reseaux-sociaux.svg');
        }
        &.conditions {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/conditions.svg');
        }
        &.xp {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/valise.svg');
        }
        &.salaire {
            background-image: url('https://www.makethegrade.fr/hubfs/svg/Check-v2.svg');
        }
    }
    .name {
        font-weight: bold;
        font-size: 16px;
        line-height: 150.02%;
        color: #000519;
    }
    .cta {
        display: block;
        cursor: pointer;
        &.disabled {
            cursor: inherit;
            pointer-events: none;
            opacity: 0.4;
        }
    }
}