.step-section-service {
  > svg {
    position: absolute;
    bottom: 0;
    left: calc(50% - 860px);
    transform: translateX(-50%);
    pointer-events: none;
  }
  &.service-color-orange {
    .main {
      div[class^="col"] {
        .wrap {
          border-left: 2px solid $poporange-alpha-70;
        }
        .label-subnav {
          color: $poporange-alpha-70;
        }
      }
    }
  }

  &.service-color-green {
    .main {
      div[class^="col"] {
        .wrap {
          border-left: 2px solid $duckgreen-alpha-70;
        }
        .label-subnav {
          color: $duckgreen-alpha-70;
        }
      }
    }
  }
  .illustration {
    mask-type: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: url("data:image/svg+xml,%3Csvg width='445' height='299' viewBox='0 0 445 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6038_16974' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='445' height='299'%3E%3Crect width='445' height='299' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6038_16974)'%3E%3Cg filter='url(%23filter0_f_6038_16974)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M518 -143H-73V361H349.681C390.988 367.922 428.421 367.749 456.869 361H518V-143ZM456.869 361C484.591 354.424 503.781 341.604 509.71 323.02C524.704 276.021 449.205 209.957 341.079 175.461C232.952 140.965 133.143 151.1 118.149 198.098C103.155 245.096 178.653 311.161 286.78 345.657C308.276 352.515 329.444 357.609 349.681 361H456.869Z' fill='%23000519'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_6038_16974' x='-213' y='-283' width='871' height='789.126' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='70' result='effect1_foregroundBlur_6038_16974'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &.service-color-purple {
    .main {
      div[class^="col"] {
        .wrap {
          border-left: 2px solid $purplerain-alpha-70;
        }
        .label-subnav {
          color: $purplerain-alpha-70;
        }
      }
    }
  }

  padding: 180px 0px;
  position: relative;
  overflow-x: hidden;
  .wrap {
    height: 100%;
  }
  .shape-bg {
    position: absolute;
    width: 2000px;
    left: 50%;
    transform: translateX(-50%);

    &.top {
      top: 0px;
    }

    &.bottom {
      bottom: 0px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  .label {
    color: #b3b0c7;
  }

  img.illustration {
    max-width: calc(100% - 60px);
    height: auto;
    max-height: 350px;
    display: block;
    margin-left: auto;
  }

  .text-head {
    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .text-main {
    p {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media screen and (max-width: 991px) {
  .step-section-service {
    img.illustration {
      max-width: 256px;
      margin-left: 0;
      margin-right: inherit;
    }
  }
}
