.suggested-offers {
    background-color: $greyblue;
    padding: 150px;
    @media screen and (max-width: 767px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    .single-job {
        background: #ffffff;
        border: 1px solid #c4cefa;
        box-sizing: border-box;
        box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
        border-radius: 5px;
        position: relative;
        transition: all 0.3s;
        &:hover {
            transform: translateY(-10px);
        }
        .infos {
            p {
                font-weight: bold;
                font-size: 16px;
                line-height: 150.02%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #7f818c;
                display: flex;
                align-items: center;
            }
            div {
                height: 18px;
                color: #7f818c;
            }
        }
        .job-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #000519;
            text-decoration: none;
            margin-bottom: 15px;
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        a.bg-link {
            position: absolute;
            z-index: 11;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}
