.section-team {
  overflow: hidden;
  position: relative;
  &>svg{
    pointer-events: none;
    left: calc(50% + 0px);
    top:0;
    transform: translateX(-50%);
  }
  .label {
    color: rgba(255, 255, 255, 0.4);
  }

  .person {
    //border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    min-height: 330px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    .img-wrapper {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: linear-gradient(180deg, rgba(8, 3, 22, 0) 58.33%, rgba(8, 3, 22, 0.5) 98.44%);
        border-radius: 5px;
      }
    }

    .name-job {
      position: absolute;
      bottom: 30px;
      left: 30px;
      color: white;
      .name {
        font-weight: 700;
        color: white;
      }
    }
  }
}
