.section-video-2-cols{
    position: relative;
    & > svg {
        pointer-events: none;
        left: calc(50% + 0px);
        bottom: 0;
        transform: translateX(-50%);
      }
    .video-inner{
        min-height: 300px;
        background-color: $poporange;
        border-radius: 5px;        
    }

    .title + .paragraph{
        margin-top: 15px;
    }

    .paragraph + .paragraph{
        margin-top: 15px;
    }

    .paragraph + .cta-line {
        margin-top: 30px;
    }
}