// Here you can setup all your colors of your website

/* MAIN COLORS */
$navyblue: #2954ff;
$duckgreen: #0bcca9;
$poporange: #ff6a40;
$purplerain: #942bff;

/* HERO BG COLOR */
$home_hero_bg: #000519;

/* MAIN COLORS ALPHA 15% */
$navyblue-alpha: rgba(41, 84, 255, 0.15);
$duckgreen-alpha: rgba(41, 84, 255, 0.15);
$poporange-alpha: rgba(255, 106, 64, 0.15);
$purplerain-alpha: rgba(148, 43, 255, 0.15);

/* MAIN COLORS ALPHA 70% */
$poporange-alpha-70: rgba(255, 106, 64, 0.7);
$duckgreen-alpha-70: rgba(11, 204, 169, 0.7);
$purplerain-alpha-70: rgba(148, 43, 255, 0.7);

/* BASE FONT COLOR*/
$baseFontColor: #000519;

/* BORDER COLORS */
$border-decoration: #bebfc4;
$border-interaction: #000519;
$border-blue-interaction: #c4cefa;

/* LABELS COLORS */
$bluedarker: #000519;
$greyblue: #ebecf9;
$inactive: #000519;
$white-background: #b3b0c7;

/* TESTIMONIAL COLOR */
$testimonialColor: rgba(0, 5, 26, 0.5);

/* BORDER COLOR */
$borderColor: #bebfc4;

/* OLDER */

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

/* SUBTITLE */
$subtitle: #7f818c;

/* PRIMARY COLORS */
$black: #000000;
$white: #ffffff;
$grey: #f7f7f7;

/* BORDER COLOR */
$borderColor: #eaeaea;

/* FORM COLOR */
$richTextColor: #7f818c;
$labelColor: #00051a;

/*HP*/
$greyHP: #666975;

/* LABEL */
$legendColor: rgba(1, 5, 25, 0.3);
$labelOnBlue: #8fa5ff;
