.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.lg {
  font-size: 28px;
}

p.lg {
  font-size: 24px;
}

p.sm {
  font-size: 16px;
}

p.xs {
  font-size: 14px;
}

.z-sm {
  z-index: 11;
}

.z-md {
  z-index: 111;
}

.z-lg {
  z-index: 1111;
}

.z-xl {
  z-index: 11111;
}

.shape-bg {
  position: absolute;
  left: calc(50% + 400px);
  transform: translateX(-50%);
  pointer-events: none;
  cursor: default;

  &.top {
    top: 0px;
  }

  &.bottom {
    bottom: 0px;
  }
}

/*-----*/
.text-poporange {
  color: $poporange;
}

.text-navyblue {
  color: $navyblue;
}

.text-purplerain {
  color: $purplerain;
}

.text-grey {
  color: #b3b0c7 !important;
}

.text-grey-dark {
  color: $greyHP !important;
}
/*-----*/
