@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// COLORS 
$color1: #2954FF;
$color2: #0BCCA9;
$color3: #FF6A40;
$color4: #942BFF;

//FONTS
$font1:"DM Sans", sans-serif;
$font2:"Philosopher", sans-serif;

//SIZES BREAKPOINT
$size1:"1140px";
$size2:"1080px";
$size3:"768px";
$size4:"640px";
$size5:"480px";


