@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// COLORS
$text-color1: #0D0C1B;
$text-color2: #2B4150;
$color1: #0065AF;
$color2: #B7DBF7;
$color3: #72B180;
$color4: #C7E3C8;
$color5: #FAF9F6;

//FONTS
$font1: 'DM Sans', sans-serif;
$font2: 'Archivo', sans-serif;

//SIZES BREAKPOINT
$size1: 1280px;
$size2: 1080px;
$size3: 768px;
$size4: 640px;
$size5: 480px;
