@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// COLORS
$text-color1: #000;
$text-color2: #ccc;
$color1: #2954ff;
$color2: #0bcca9;
$color3: #ff6a40;
$color4: #942bff;

//FONTS
$font1: 'DM Sans', sans-serif;
$font2: 'Philosopher', sans-serif;

//SIZES BREAKPOINT
$size1: 1140px;
$size2: 1080px;
$size3: 768px;
$size4: 640px;
$size5: 480px;
