// Here you can regroup all of your base SASS.
body {
    color: $baseFontColor;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    &.hide {
        overflow: hidden;
    }
}

a,
li,
p {
    font-family: "DM Sans", sans-serif;
}

p {
    margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-style: normal;
    margin: 0;
    font-weight: bold;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: "Philosopher", sans-serif;
}

h4,
.h4,
h5,
.h5 {
    font-family: "DM Sans", sans-serif;
}

h1,
.h1 {
    font-size: 70px;
    line-height: 1.2;
    &.h1-home {
        font-size: 90px;
        line-height: 1.15;
    }
}

h2,
.h2 {
    font-size: 60px;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
        font-size: 40px;
    }
}

h3,
.h3 {
    font-size: 45px;
    line-height: 1.2;
}

h4,
.h4 {
    font-size: 40px;
    line-height: 1.2;
}

h5,
.h5 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}

pre {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 50px;
        &.h1-home {
            font-size: 50px;
        }
        br {
            display: none;
        }
    }
    h3,
    .h3 {
        font-size: 40px;
    }
}

.body-wrapper {
    &.hs-landing-page {
        overflow: hidden;
    }
}

.modal-body {
    padding: 3rem;
}

.modal-dialog {
    @media screen and (min-width: 576px) {
        max-width: 900px;
    }
}

.icon-job {
    margin-right: 5px;
}

.modal-content {
    border: 1px solid #c4cefa !important;
    border-radius: 5px !important;
}

*:focus{
    outline: none;
}

/* ---------------- */
