// Here is all the options used to setup your images
figure,
.figure {
  width: 100%;
  &.ratio {
    position: relative;
    padding-bottom: 56.25%;
    text-align: left;
    img,
    iframe {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
img.lazy {
  display: inline;
  border: 0;
  opacity: 0;
}
img:not(.initial) {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

img.fit-cover {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

img.fit-contain {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 1200px) {
  img.fit-contain-xl {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img.fit-cover-xl {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: 992px) {
  img.fit-contain-lg {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img.fit-cover-lg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: 768px) {
  img.fit-contain-md {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img.fit-cover-md {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: 576px) {
  img.fit-contain-sm {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img.fit-cover-sm {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
