.shadow-sm {
  box-shadow: 0 4px 10px rgba($black, 0.15) !important;
}

.shadow,
.shadow-md {
  box-shadow: 0 4px 20px rgba($black, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 8px 30px rgba($black, 0.2) !important;
}

.shadow-none {
  box-shadow: none !important;
}
