// Here you can manage all your text settings
p {
  &.label {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    &.gray {
      color: $white-background;
    }
  }
  &.label-subnav {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
  }
  &.tag {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
  }
}

.category {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  padding: 4px 10px;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  z-index: 11;
  color: $navyblue;
  background-color: rgba($color: $navyblue, $alpha: 0.15);
  border-color: $navyblue;
  margin-right: 4px;
  &.green,
  &.website {
    color: $persian-green;
    background-color: rgba($color: $persian-green, $alpha: 0.15);
    border-color: $persian-green;
    &:hover {
      background-color: rgba($color: $persian-green, $alpha: 0.25);
    }
  }
  &.orange,
  &.marketing {
    color: $poporange;
    background-color: rgba($color: $poporange, $alpha: 0.15);
    border-color: $poporange;
    &:hover {
      background-color: rgba($color: $poporange, $alpha: 0.25);
    }
  }
  &.purple,
  &.crm {
    color: $purplerain;
    background-color: rgba($color: $purplerain, $alpha: 0.15);
    border-color: $purplerain;
    &:hover {
      background-color: rgba($color: $purplerain, $alpha: 0.25);
    }
  }
  &.blue {
    color: $navyblue;
    background-color: rgba($color: $navyblue, $alpha: 0.15);
    border-color: $navyblue;
    &:hover {
      background-color: rgba($color: $navyblue, $alpha: 0.25);
    }
  }
}

.text-white {
  color: $white !important;
  * {
    color: $white !important;
  }
}

.bold {
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  color: $subtitle;
}

p {
  &.testimonial {
    font-size: 16px;
    line-height: 1.5;
    color: $testimonialColor;
  }
}
