<section id="{{module.module_identity}}"
class="logos {% if module.content_style.padding_choice == 'classic' %}{% if module.content_style.section_type != 'none' %} section-{{ module.content_style.section_type }}{% endif %}{% if module.content_style.padding_top == false %} pt-0{% endif %}{% if module.content_style.padding_bottom == false %} pb-0{% endif %}{% endif %}"
{% if module.content_style.padding_choice == 'custom' %} style="padding-top: {{ module.content_style.custom_padding_top }}px; padding-bottom: {{ module.content_style.custom_padding_bottom }}px;"{% endif %}>
    <div class="container container-slide">
        <div class="label">
            {{ module.title}}
        </div>
        <div class="wrapper-slide">
                {% for item in module.content_group %}
                    <figure>
                        <img src="{{ item.logo.src }}" width="{{ item.logo.width }}" height="{{ item.logo.height }}" loading="lazy" alt="{{ item.logo.alt }}" />
                    </figure>
                {% endfor %}
        </div>
    </div>
</section>