/* .body-container-wrapper {
    background-color: $home_hero_bg;
    overflow: hidden;
    z-index: 1;
    position: relative;
    .label {
        color: $greyHP;
    }
    .p {
        color: $greyblue !important;
    }
    h1 {
        color: $greyblue;
        font-size: 90px;
        line-height: 101px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .page-header {
        color: $greyblue;
        font-size: 20px;
        margin-bottom: 45px;
        h2 {
            font-size: 16px;
            color: $greyblue;
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
        }
    }
    input[type="submit"] {
        width: fit-content;
        margin-left: 15px;

        cursor: pointer;
        position: relative;
        display: inline-block;
        background-color: $navyblue;
        color: $white;
        border: none;
        border-radius: 5px;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        transition: all 0.3s;
        text-align: center;
        white-space: normal;
        vertical-align: middle;
        text-decoration: none;
        border-radius: 5px;
        overflow: hidden;
        border: 2px solid $navyblue;
        user-select: none;
        padding: 15px 20px;
        &:hover {
            border: 2px solid white !important;
            background-color: white;
            color: $navyblue;
        }
    }
    div#content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > div {
            padding: 0 !important;
        }
    }
    input.email-edit {
        color: #7f818c !important;
        font-size: 18px !important;
        line-height: 1.5 !important;
        text-align: justify !important;
        border: 1px solid rgba(0, 5, 26, 0.1) !important;
        padding: 15px !important;
        outline: 0 !important;
        border-radius: 5px !important;
        max-width: 400px;
    }
    h3 {
        color: white !important;
        margin-bottom: 30px;
        width: 100%;
    }
    p.header {
        font-size: 16px;
        color: $greyblue;
        + p {
            margin-top: 60px;
        }
    }
    .email-prefs {
        max-width: 635px;
        margin: 0 auto;
        .item {
            .item-inner {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #ffffff;
                box-sizing: border-box;
                backdrop-filter: blur(60px);
                border-radius: 5px;
                padding: 20px 30px;
                padding-left: 80px;
                margin-top: 20px;
                color: $greyblue;
                transition: all ease-in-out 0.3s;
                text-align: left;
                &.selected {
                    color: $bluedarker;
                    background: #ffffff;
                    border: 1px solid #c4cefa;
                    box-shadow: 0px 4px 30px rgba(41, 15, 112, 0.075);
                }
                input {
                    border: 1px solid #ebecf9;
                    border-radius: 5px;
                    background-color: rgba(41, 15, 112, 0);
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);
                    &[type="checkbox"]:not(:checked) {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                    }
                }
                .fakelabel {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 700;
                    font-family: "DM Sans", sans-serif;
                }
                p {
                    font-size: 16px;
                    font-family: "DM Sans", sans-serif;
                    font-weight: 400;
                }
            }
            &.disabled {
                .item-inner {
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.05) !important;
                    border: 1px solid #ffffff !important;
                    box-sizing: border-box;
                    backdrop-filter: blur(60px) !important;
                    border-radius: 5px;
                    padding: 20px 30px;
                    padding-left: 80px;
                    margin-top: 20px;
                    color: $greyblue !important;
                    transition: all ease-in-out 0.3s;
                    text-align: left;
                    input{
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                    }
                }
            }
        }
        .subscribe-options {
            input {
                border: 1px solid #ebecf9;
                border-radius: 5px;
                background-color: rgba(41, 15, 112, 0);
                width: 20px;
                height: 20px;
                &[type="checkbox"]:not(:checked) {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                }
            }
            p.header {
                margin-top: 60px;
                margin-bottom: 15px;
                display: none;
            }
            p.header + p {
                color: $greyblue;
                font-size: 16px;
                label {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 45px;
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 1154px;
        height: 1195px;
        z-index: -1;
        bottom: 53px;
        left: -200px;
        background-image: url("data:image/svg+xml,%3Csvg width='1154' height='1195' viewBox='0 0 1154 1195' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1170.79 196.793C-1354.6 444.219 -1352.06 727.513 -1352.06 727.513C-1352.06 727.513 -1147.23 513.431 -777.429 654.937C-760.946 662.502 422.917 1136.99 422.917 1136.99C422.917 1136.99 731.831 1235.88 915.107 991.595C1098.91 744.168 1096.37 460.874 1096.37 460.874C1096.37 460.874 891.552 674.957 521.748 533.45C505.264 525.885 -678.599 51.3987 -678.599 51.3987C-678.599 51.3987 -984.588 -47.2779 -1170.79 196.793Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M646.778 1151.63C647.125 1151.2 647.058 1150.57 646.628 1150.22L639.627 1144.57C639.198 1144.22 638.568 1144.29 638.221 1144.72C637.874 1145.15 637.941 1145.78 638.37 1146.12L644.594 1151.15L639.567 1157.37C639.219 1157.8 639.286 1158.43 639.716 1158.78C640.146 1159.13 640.775 1159.06 641.122 1158.63L646.778 1151.63ZM208.62 1050.92C327.807 1099.9 393.66 1129.82 451.431 1145.15C509.289 1160.51 559.054 1161.25 646.106 1151.99L645.894 1150.01C558.946 1159.25 509.461 1158.49 451.944 1143.22C394.34 1127.93 328.693 1098.1 209.38 1049.08L208.62 1050.92Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='784.151' y1='-204.073' x2='127.82' y2='1623.51' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.385939' stop-color='%232954FF' stop-opacity='0'/%3E%3Cstop offset='0.513636' stop-color='%232954FF' stop-opacity='0.05'/%3E%3Cstop offset='1' stop-color='%232954FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='519.711' y1='1107.56' x2='317.711' y2='1261.06' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230BCCA9'/%3E%3Cstop offset='1' stop-color='%230BCCA9' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    }
    form[data-form-type="identity,newsletter"] {
        color: $greyblue;
        #content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 90px;
            h3 {
                flex-basis: 100%;
                font-size: 20px;
                font-family: "DM Sans", sans-serif;
                font-weight: 400;
                margin-bottom: 30px;
                display: none;
            }
        }
        div {
            padding-bottom: 0 !important;
            input.email-edit {
                height: 57px;
                margin: 15px 7px 0 7px !important;
                max-width: 400px !important;
                background: #ffffff;
                border: 1px solid rgba(0, 5, 26, 0.1);
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 18px;
            }
            input#submitbutton {
                margin: 0 7px;
                margin-top: 15px;
                height: 57px;
                padding: 0 30px;
            }
        }
    }
    .success {
        color: $greyblue;
        font-size: 20px;
        font-weight: 400;
    }
    @media all and (max-width: 830px) {
        h1 {
            font-size: 70px;
            line-height: 80px;
        }
    }
}
@media all and (max-width: 576px) {
    .body-container-wrapper {
        h1 {
            font-size: 50px;
            line-height: 60px;
        }
        .page-header {
            font-size: 18px;
        }
        input[type="submit"] {
            font-size: 16px;
            padding: 15px 20px;
        }
        &::after {
            bottom: 30px;
            left: -400px;
        }
    }
}
@media all and (max-width: 430px) {
    .content-wrapper {
        h1 {
            font-size: 40px;
            line-height: 50px;
        }
        &::after {
            bottom: 30px;
            left: -400px;
        }
        form {
            div {
                input.email-edit {
                    height: 50px;
                    max-width: 250px !important;
                }
                input#submitbutton {
                    height: 50px;
                    padding: 0 20px;
                }
            }
        }
    }
}

@media all and (max-width: 400px) {
    .body-container-wrapper {
        .page-header {
            font-size: 18px;
            h1 {
                font-size: 40px;
                line-height: 50px;
            }
        }
        .email-prefs {
            .item-inner {
                padding-left: 50px;
                input {
                    left: 15px;
                }
                .fakelabel {
                    font-size: 18px;
                    line-height: 24px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
 */
