section.password-prompt{
    padding:250px 0px;
    position: relative;
    div.container{
        form{
            display:flex;
            flex-direction:column;
            max-width:400px;
            input[type="password"]{
                width: 100% !important;
                color: rgba($color1, 1);
                background: #ffffff;
                border: 1px solid rgba($color1, 0.73);
                border-radius: 0;
                padding: 10px 15px;
                outline: none;
                -webkit-transition: 0.3s border, 0.3s box-shadow;
                -moz-transition: 0.3s border, 0.3s box-shadow;
                transition: 0.3s border, 0.3s box-shadow;
                margin-top:30px;
                box-sizing: border-box;
                &::placeholder{
                    opacity:1;
                    color:#fff;
                }
            }
            input[type='submit'] {
                appearance: none;
                -moz-appearance: none;
                border: none;
                background-color: $text-color1;
                color: #fff;
                height: 50px;
                padding: 0px 30px;
                border: 1px solid $color1;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                cursor: pointer;
                &:hover {
                  background-color: #fff;
                  color: $text-color1;
                }
            }
        }
    }
}
