section.password-prompt {
    padding: 250px 0px;
    position: relative;
    text-align: center;

    h1 {
        color: $color1;
    }

    div.container {
        form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 400px;
            max-width: 100%;

            input[type="password"] {
                width: 100% !important;
                height: 48px !important;
                color: rgba($color1, 1);
                background: #ffffff;
                border: 1px solid rgba($color1, 0.73);
                border-radius: 0;
                padding: 10px 15px;
                outline: none;
                -webkit-transition: 0.3s border, 0.3s box-shadow;
                -moz-transition: 0.3s border, 0.3s box-shadow;
                transition: 0.3s border, 0.3s box-shadow;
                margin-top: 30px;
                box-sizing: border-box;

                &::placeholder {
                    opacity: 1;
                    color: #fff;
                }
            }
        }
    }
}