.subscription-preferences {
    padding: 250px 0px;
    position: relative;

    .container {
        position: relative;
        padding: 0 15px;
        z-index: 2;

        h1 {
            margin-top: 0;
            color: $color1;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 800;
            max-width: 100%;

            .page-header,
            .header {
                text-align: center;
            }

            .item {
                width: 100% !important;
                outline: 0;
                margin-bottom: 15px;
                text-align: left;
                cursor: pointer;
                margin: 30px 0;

                .item-inner {
                    padding: 18px 19px;
                    transition: all 0.3s;
                    background-color: rgba(white, 0.3);
                    border: 1px solid rgba($color1, 0.2);
                    border-radius: 3px;
                    backdrop-filter: blur(20px);

                    &:hover {
                        transform: translateY(-4px);
                    }

                    .checkbox-row {
                        .fakelabel {
                            display: flex;
                            align-items: center;
                        }

                        span {
                            font-family: $font2;

                            &:not(.fakelabel) {
                                margin-left: 10px;
                            }

                            input {
                                margin-left: 0;
                            }
                        }
                    }


                    p {
                        margin: 10px 0 0 26px;
                    }
                }
            }

            .subscribe-options {
                margin-bottom: 15px;
                text-align: center;

                p:not(.header) {
                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        input {
                            cursor: pointer;
                        }

                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}