<section id="\{{module.module_identity}}"
    class="{% if module.content_style.section_type != 'none' %} section-\{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% inline_rich_text field="rich_text" value="\{{ module.text }}" %}
        {% if module.image.src %}
        <figure>
            <img download="lazy"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 \{{ module.image.width }} \{{ module.image.height }}'%3E%3C/svg%3E"
                data-src="\{{ module.image.src }}" alt="\{{ module.image.alt }}" />
        </figure>
        {% endif %}
    </div>
</section>