<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Boilerplate - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Unsubscribe" %}

{% block body %}
<main class="unsubscribe">
  <section class="unsubscribe">
    <div id="contain-canvas"></div>
    <div class="container">
      {% module "backup_unsubscribe" path="@hubspot/email_simple_subscription" %}
    </div>
  </section>
</main>
{% endblock body %}